*,html, body {
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    background-color: burlywood;
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
}
.sidebar{
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
}
.content{
    margin: 0;
    background-color: chartreuse;
    margin-left: 250px;
    padding: 1px 16px;
    height: 1500px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: static;
  }
  .sidebar a {float: left;}
  .content{
      margin: 0;
  }
}