*,html, body {
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    background-color: burlywood;
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
}


.sidebar{
    margin: 0;
    padding: 0;
    width: 275px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    
}
.main{
    margin: 0;
    background-color: chartreuse;
    margin-left: 275px;
    padding: 50px 0px;
    
}

.object{
    width: 87%;
    height: 230px;
    background-color: cornsilk;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    margin-bottom: 20px;
}
.objectimgl{
    height: 100%;
    width: 35%;
    float: left;
}
.objectimgr{
    height: 100%;
    width: 35%;
    float: right;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.content{
    background-color: rgb(14, 13, 2);
    width: 87%;
    min-height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.sidebar a{
    display: block;
}


@media screen and (max-width: 720px) {
  .sidebar {
    width: 100%;
    height: 80px;
    position: static;
  }
  .sidebar a {float: left;}
  .main{
      margin: 0;
  }
  .object{
      height: 100px;
  }
}
